.gloabl-font {
  font-family: 'Poppins', sans-serif !important;
}
/* AutosuggestForm.css */
.autosuggest-container {
  max-width: 300px; /* Adjust this based on your layout */
  margin: 0 auto;
}

.react-autosuggest__input {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  width: 21%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 10;
}

.react-autosuggest__suggestions-container--open {
  display: block;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}

/* 
/* Hide default checkboxes and radio buttons */
/* input[type="checkbox"],
input[type="radio"] {
  display: none;
} */

/* Style the custom checkboxes and radio buttons */
/* input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
} */

/* input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
} */

/* Set background color for checked checkboxes and radio buttons */
/* input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #FF5F63;
  border: 1px solid #FF5F63;
}
  */
