/* styles.css */

/* Importing Google Fonts and Tailwind CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applying the imported Poppins font to the body */
body {
  font-family: 'Poppins'!important;

}

/* Add the desired styles for the selected radio button */
/* Add the desired styles for the selected radio button */



/* Other styles for the scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6d75;
  border-radius: 5px;
}
Add the desired styles for the selected radio button
.selected {
  color: red; /* Change this to the desired color */
  /* Add any other styles you want for the selected radio button label */
}
